.product{
    width: 300px;
    height: 508px;
    margin-top: 50px;

border: 1px solid #95A0A7;


position: relative;
}

.product img{

    width: 280px;
    height: 280px;
    
    border-radius: 8px;
    margin: 8px;
}
.product-info{
    margin: -21px 14px;
    margin-bottom: 20px;
  
    
    
}
.btn{
    background-color: #FFE0B3;
    width: 100%;
    position: absolute;
  
bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
   


    
}
.btn:hover{
    background-color: orange;
    cursor: pointer;
}
.btn p{
    margin-right: 5px;
}
